{% extends 'base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'beautiful.css' %}" type="text/css">
{% for instance in object_list %}
<div class="card mb-5 text-dark w-75 mx-auto">
	<div class="card-body">
	<h5 class="card-title"><a href='{{instance.get_absolute_url}}'>{{instance.title}}</a></h5>
	<p>{{ instance.content|safe|truncatewords:30 }}</p>
	</div>
	<div class="card-footer text-muted">
		<div class="row">
			<div class="col-sm-6">Answers: {{instance.total_answers}}</div>
			<div class="col-sm-6"><small>Updated: {{instance.updated}}&emsp;&emsp;&emsp;Asked: {{instance.timestamp}}</small></div>
		</div>
	</div>	
</div>
{% endfor %}

{% endblock %}		