{% extends 'base.html' %}
{% block content %}

{% for instance in object_list %}
<div class="card mb-5 text-dark">
	<div class="card-body">
	<h5 class="card-title"><a href='{{instance.get_absolute_url}}'>{{instance.title}}</a></h5>
	<p class="card-text">{{ instance.content|linebreaks|truncatewords:30 }}</p>
	</div>
	<div class="card-footer text-muted">
		<div class="row">
			<div class="col-sm-8">Answers: {{instance.total_answers}}</div>
			<div class="col-sm-4"><small>Updated: {{instance.updated}}&emsp;&emsp;&emsp;Asked: {{instance.timestamp}}</small></div>
		</div>
	</div>	
</div>
{% endfor %}

{% endblock %}		