.resize {
    width: 150px;
    height: 60px;
}

.colornav {
	color: #fff;
    background-color: #fff9c4;
    height:70px;
    position: sticky;
    top:0;
    z-index: 999;
}

.btn-delete {
	width:80px;
	height:35px;
	background-color: #f44336;
}
.btn-edit{
	width:80px;
	height:35px;
	background-color: #59698d;
}

.bg {
  /* The image used */
  background-image: url("https://wallpaper-gallery.net/images/hd-mountain-wallpapers-1080p/hd-mountain-wallpapers-1080p-7.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-bum {

 /* The image used */
 background-color: #eceff1;
}

.transparent{
  background:rgba(255,255,255,0.3);
}

.btn-style:hover {
    color: #333;
    background-color: #37474f;
    border-color: #adadad;
   }

.sibling-fade { visibility: hidden;
				margin-left: 10px;
				margin-top:7px; }
.sibling-fade > * { visibility: visible; }
.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }

.post-layout {
	width:auto;
	display: flex;
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.1);
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content {
	width:auto;
	float:right;
}

.votes {
	float:left;
	width:auto;
	margin-top: 15px;
	align-self: top;
}

.count {
	text-align: center;
}

.buttons {
    text-align: right;
    align-items: right;
    margin-right: 10px;
  }